<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Florent M.">
    <link rel="stylesheet" href="./../style.css">
    <title>Fisheye</title>
</head>
<body>
    <header class="header">
        <a href="index.html"><img class="logo" src="./../imgs/logo.png" alt="Fisheye Home Page"></a>
    </header>
    <main>
        <section class="photographers">
            <article>
                <a href="./views/243.html"><img class="portrait" src="./imgs/Sample Photos/Photographers ID Photos/MimiKeel.jpg" alt="">
                <h2>Mimi Keel</h2></a>
                <h3>London, Uk </h3>
                <h4>Voir le beau dans le quotidien </h4>
                <p>400€/jour</p>
                <ul>
                    <li>#portrait</li>
                    <li>#events</li>
                    <li>#travel</li>
                    <li>#animals</li>
                </ul>
            </article>
            <article>
                <a href=""><img class="portrait" src="./imgs/Sample Photos/Photographers ID Photos/MimiKeel.jpg" alt=""></a>
                <h2>Mimi Ka</h2>
                <h3>London, Uk </h3>
                <h4>Voir le beau dans le quotidien </h4>
                <p>400€/jour</p>
                <ul>
                    <li>#portrait</li>
                    <li>#events</li>
                    <li>#travel</li>
                    <li>#animals</li>
                </ul>
            </article>
            <article>
                <a href=""><img class="portrait" src="./imgs/Sample Photos/Photographers ID Photos/MimiKeel.jpg" alt=""></a>
                <h2>Mimi Keel</h2>
                <h3>London, Uk </h3>
                <h4>Voir le beau dans le quotidien </h4>
                <p>400€/jour</p>
                <ul>
                    <li>#portrait</li>
                    <li>#events</li>
                    <li>#travel</li>
                    <li>#animals</li>
                </ul>
            </article>
            <article>
                <a href=""><img class="portrait" src="./imgs/Sample Photos/Photographers ID Photos/MimiKeel.jpg" alt=""></a>
                <h2>Mimi Keel</h2>
                <h3>London, Uk </h3>
                <h4>Voir le beau dans le quotidien </h4>
                <p>400€/jour</p>
                <ul>
                    <li>#portrait</li>
                    <li>#events</li>
                    <li>#travel</li>
                    <li>#animals</li>
                </ul>
            </article>
        </section>
    </main>
    <script src="fisheye.js"></script>
</body>
</html>