<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Florent M.">
    <link rel="stylesheet" href="./../style.css">
    <title>Fisheye</title>
</head>
<body>
    <header class="header">
        <a href="index.html"><img class="logo" src="./../imgs/logo.png" alt="Fisheye Home Page"></a>
    </header>
    <main>
        <section class="intro">
            <article>
                <h1>Mimi Keel</h1>
                <h2>London, UK</h2>
                <p>Voir le beau dans le quotidien</p>
                <ul>
                    <li class="tag">#portrait</li>
                    <li class="tag">#events</li>
                    <li class="tag">#travel</li>
                    <li class="tag">#animals</li>
                </ul>
            </article>
            <a class="btn__primary" href="mailto:mimikeel@gmail.com"><button class="btn__primary">Contactez-moi</button></a>
            <img src="./../imgs/Sample Photos/Photographers ID Photos/MimiKeel.jpg" alt="Mimi Keel">
        </section>
        <section class="photos">
        </section>
    </main>
    <script src="fisheye.js"></script>
</body>
</html>