.btn{
    &__secondary{
        background-color: $secondary;
        width: 182px;
        height: 30px;
        font-weight: 700;
        border-radius: 5px;
        border: none;
        display: none;
    }
}
