main{
    display: flex;
    flex-wrap: wrap;
    h1{
        position: absolute;
        right: 2rem;
        top: 2rem;
    }
}

.photographers{
    width: 1440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}